@model  WebDocuments.Models.TestModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Model.Message </p>

@section scripts {
    <script>
        $(document).ready(function () {
            console.log('ready!');
        });

    </script>
}
