
@model IList<WebDocuments.Models.EstadoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <select>
        @foreach(var item in Model)
        {
            <option value="@item.cod_estado">@item.gls_estado</option>
        }
    </select>
</div>